node_modules
# gitignore for the new yarn
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ignore builds
packages/*/dist/

# ignore outputs of yarn pack
**/package.tgz
